/* From here onwards is where the css for the articles is */
body{
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;

    grid-template-areas: 
        'navigation     navigation      navigation'
        '.              pageTitle       .'
        '.              article1        picture1'
        '.              article2        picture1'
        '.              picture2        picture1'
        '.              article3        picture3'
        '.              .               picture3'
        'footer         footer          footer';
}

@media (max-width:769px){
    body{
        grid-template-columns: 5% 90% 5%;

        grid-template-areas: 
            'navigation     navigation      navigation'
            '.              pageTitle       .'
            '.              picture1        .'
            '.              article1        .'
            '.              picture2        .'
            '.              article2        .'
            '.              picture3        .'
            '.              article3        .'
            'footer         footer          footer';
    }

}

/* makeup of the contact form */
.contact_form fieldset{
    display:flex;
    flex-direction: column;
}

.contact_form legend{
    font-family:'Zilla Slab', Tahoma , sans-serif;
    font-weight:700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: initial;
    word-spacing: initial;
}

.contact_form input, .contact_form label {
    font-family:'Cabin', Georgia, serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: initial;
    word-spacing: initial;
}