*{
    padding:0;
    margin:0;
}

/* From here onwards is where the css for the articles is */
body{
    background-color: #F3F3F3;
}


body{
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;

    grid-template-areas: 
        'navigation navigation      navigation      navigation'
        '.          pageTitle       pageTitle       .'
        '.          topConclusion   topConclusion   .'
        '.          article1        article1        picture1'
        '.          article2        article2        picture1'
        '.          picture2        picture2        picture1'
        '.          article3        article3        picture3'
        '.          article4        article4        picture3'
        '.          .               .               picture3'
        'footer     footer          footer          footer';
}

/* makeup of the articles and images*/

body > article {
    width: 100%;
    margin: 0.75rem 0;
    box-sizing:border-box;
}

body > header{
    width:100%;
    margin: 2rem 0 1.25rem 0;
    text-align:center;
}

.conclusion {
    padding: 10px 20px;
    margin-top: 2rem;
    border: 2px solid #59B1AE;
    border-radius: 10px;
    background-color: #ACE1AF;
}

.picture1 img, .picture1 figcaption{
    width: 22vw;
    border-radius: 8px;
}

.picture2 img, .picture2 figcaption{
    width: 50vw;
    border-radius: 8px;
}

.picture3 img, .picture3 figcaption{
    width: 22vw;
    border-radius: 8px;
}

.picture1 , .picture2 , .picture3{
    margin: 0.75rem 0;
    justify-self: center;
}


/* this is for the makeup of the footer */
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    padding: 1rem 0;
    margin-top: 4rem;
    background-color:#ACE1AF;
}

.footer ul{
    list-style: none;
}

.footer .logo{
    float:inherit;
}

.footer a{
    display: block;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
}
