/* From here onwards is where the css for the articles is */
body{
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;

    grid-template-areas: 
        'navigation navigation      navigation      navigation'
        '.          pageTitle       pageTitle       .'
        '.          topConclusion   topConclusion   .'
        '.          article1        article1        .'
        '.          article2        article2        .'
        '.          picture1        picture2        .'
        '.          article3        article3        picture3'
        '.          article4        article4        picture3'
        '.          .               .               picture3'
        'footer     footer          footer          footer';
    }
    
/* makeup for the mobile website version */
@media (max-width: 768px){
    body{
        grid-template-columns: 5% 90% 5%;
    
        grid-template-areas: 
            'navigation navigation      navigation'
            '.          pageTitle       .'
            '.          topConclusion   .'
            '.          article1        .'
            '.          picture1        .'
            '.          article2        .'
            '.          picture2        .'
            '.          article3        .'
            '.          picture3        .'
            '.          article4        .'
            'footer     footer          footer';
    }
}

/* makeup of the articles and images*/
.picture1 img, .picture1 figcaption, .picture2 img, .picture2 figcaption{
    width:95%;
    border-radius: 5px;
}

.picture1, .picture2{
    justify-content: center;
}

