*{
    padding:0;
    margin:0;
}

/* This is for the navigation bar */
.navigation{
    border-width:0 0 1px 0;
    border-style:solid;
    border-color: black;
    overflow: hidden;
}

.navigation ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height:4rem;
}

.navigation ul li {
    flex-basis: 9%;
}

#title{
    flex-basis: 35%;
    align-self: center; 
}

/* makeup of the website title + links */
.navigation a{
    display: block;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
}

/* This is for hovering over, current page hightlight and getting rid of the visited pages being purple */
.navigation ul li > a:hover{
    background-color: #343434;
    color:#FFFFFF;
}

.current{
    background-color: #111111;
    color:#ffffff;
}

.navigation ul li a:visited:not(.current, .navigation ul li > a:hover){
    color:#000000;
}