body{
    display:grid;
    justify-content: center;
    grid-template-columns: 20% 5% 35% 15% 5% 20%;
     grid-template-areas: 
        'navigation navigation  navigation  navigation  navigation  navigation'
        '.          .           pageTitle   pageTitle   .           .'
        '.          picture1    picture1    picture1    picture1    .'
        '.          .           article1    article1    .           .'
        '.          .           article2    picture2    .           .'
        '.          .           article3    picture2    .           .'
        '.          .           picture3    picture3    .           .'
        'footer     footer      footer      footer      footer      footer';    
}

@media (max-width: 768px){
    body{
        grid-template-columns: 5% 90% 5%;
         grid-template-areas: 
            'navigation navigation      navigation'
            '.          pageTitle       .'
            '.          picture1        .'
            '.          article1        .'
            '.          article2        .'
            '.          picture2        .'
            '.          article3        .'
            '.          picture3        .'
            'footer     footer          footer';    
    }
}

/* Extra makeup for article 1, the pros and cons list */
.article1{
    padding: 10px 20px;
    margin-top: 2rem;
    border: 2px solid #59B1AE;
    border-radius: 10px;
    background-color: #ACE1AF;
}

.Pros_and_Cons{

    margin-top: 1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    list-style:none;
}

.Pros_and_Cons > li{
    box-sizing:border-box;
    width:275px;
    padding-left:1.5rem;
    margin-bottom: 1rem;
    font-family:'Cabin', Georgia, serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: initial;
    word-spacing: initial;
    text-indent: -1rem;
}


.Pros_and_Cons ol li, aside ol li{
    font-family:'Cabin', Georgia, serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: initial;
    word-spacing: initial;
    text-indent: initial;
}

/*Text indent is very useful here, moves the numbers of the ordered list slightly to thee right */
.article3 ol{
    list-style-position: inside;
}

/* Extra makeup for article 3, the assumptions */
aside ol li {
    text-indent: inherit;
}


/* All of this is markup for the cookies popup */
.cookiesBackground{
    width:100vw;
    height:100vh;
    margin:0;

    background-color: rgba(0,0,0,0.8);

    z-index: 9999;
    position:fixed;
}

.popup{
    min-width:250px;
    width:40%;
    padding:1rem;
    margin-left:auto;
    margin-right:auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content: flex-start;
    
    background-color: #ACE1AF;
    z-index: 9999;
    position:fixed;
    top:20%;
    right:0;
    left:0;

    font-family:'Cabin', Georgia, serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: initial;
    word-spacing: initial;
    text-align: center;
}

.popup header, .popup p{
    width:100%;
    align-self: start;
}

.popup label{
    cursor:pointer;
}

.accept{
    min-width:100px;
    width:25%;
    padding: 0.5rem 0;
    margin-top:2rem;
    margin-right:9px;
    align-self: center;
    display:block;

    background-color: #59B1AE;
    border-radius:8px;
}

.accept:hover{
    background-color: #6edbd7;
}

.alsoAccept{
    min-width: 100px;
    width:25%;
    padding: 0.5rem 0;
    margin-top:2rem;
    margin-left:9px;
    display:block;

    background-color: rgb(154, 154, 154);
    border-radius:8px;
}

.alsoAccept:hover{
    background-color: rgb(174, 174, 174);
}

#accept, #alsoAccept{
    display:none;
}

.cookiesBackground:has(#accept:checked){
    display:none;
}

.cookiesBackground:has(#alsoAccept:checked){
    display:none;
}




