/* This is for the navigation bar */
.navigation{
    border-width:0 0 1px 0;
    padding: 0.3rem 0;
    border-style:solid;
    border-color: black;
    background-color: #ACE1AF;
    overflow: hidden;
}

.navigation ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height:4rem;
}

.navigation ul li {
    flex-basis: 10%;
}

/* makeup of the website title/logo + links */
#title{
    flex-basis: 30%;
    align-self: center; 
}
.logo{
    width: 4rem;
    float:left;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #59B1AE, #ACE1AF);
}

#title h1{
    float:left;
    margin-left:10%;
}

.navigation a{
    display: block;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    border-radius:1rem;
}


/* This is for hovering over, current page hightlight and getting rid of the link colours */
.navigation ul li > a:hover{
    background-color: #343434;
    color:#FFFFFF;
}

.current{
    background-color: #111111;
    color:#ffffff;
}

.navigation ul li a:not(.current, .navigation ul li > a:hover){
    color:#000000;
}
