/* This is for the navigation bar */
.navigation{
    border-width:0 0 1px 0;
    padding: 0.3rem 0;
    position:sticky;
    top:0;
    border-style:solid;
    border-color: black;
    background-color: #ACE1AF;
    overflow: hidden;
}

.navigation ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height:4rem;
}

.navigation ul li {
    flex-basis: 10%;
}

/* makeup of the website title/logo + links */
#title{
    flex-basis: 30%;
    align-self: center; 
}
.logo{
    width: 4rem;
    float:left;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #59B1AE, #ACE1AF);
}

#title h1{
    float:left;
    margin-left:5%;
}

.navigation a{
    display: block;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    border-radius:1rem;
}



/* This is for hovering over, current page hightlight and getting rid of the link colours */
.navigation ul li > a:hover{
    background-color: #343434;
    color:#FFFFFF;
}

.current{
    background-color: #111111;
    color:#ffffff;
}

.navigation ul li a:not(.current, .navigation ul li > a:hover){
    color:#000000;
}

/* This is for the footer */
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    padding: 1.5rem 0;
    margin-top: 4rem;
    background-color:#ACE1AF;
}

.footer ul{
    list-style: none;
    text-align:center;
}

.footer ul li{
    margin-top:0.5rem;
}

.footer ul{
    width:25%;
    display:flex;
    flex-direction:column;
}

.footer .logo{
    float:inherit;
    margin-top:auto;
}

.footer a{
    display: block;
    text-transform:uppercase;
}

.footer a:visited:not(.footer a:hover), .footer a:link{
    color:#000000;
}

.footer a:hover{
    color:#0000EE;
}

.footer a:active{
    color:#2E615F;
}

/* this is for the mobile version */
@media (max-width: 768px){
    /* mobile navigation bar */
    .navigation{
        position:static;
    }

    .navigation ul{
        flex-direction: column;
        line-height: 3rem;
    }

    .navigation ul li{
        margin-bottom:0.5rem;
    }

    #title{
        width:100%;
        margin: 1rem 0;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    #title a, #title h1{
        flex-shrink:0;
    }

    .navigation ul li > a:active{
        background-color: #343434;
        color:#FFFFFF;
    }

    /* mobile footer */
    .footer ul{
        width:40%;
    }
    .footer ul:nth-child(1){
        margin-right:5%;
    }
    .footer ul:nth-child(2){
        margin-left:5%;
    }

}
