/* Desktop layout */
body{
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;

    grid-template-areas: 
        'navigation navigation      navigation'
        '.          pageTitle       .'
        '.          article1        picture1'
        '.          article2        picture1'
        '.          article3        picture2'
        '.          picture3        picture2'
        '.          .               picture2'
        'footer     footer          footer';
}

/* mobile layout */
@media (max-width:769px){
    body{
        grid-template-columns: 5% 90% 5%;

        grid-template-areas: 
        'navigation     navigation      navigation'
        '.              pageTitle       .'
        '.              topConclusion   .'
        '.              article1        .'
        '.              picture1        .'
        '.              article2        .'
        '.              picture2        .'
        '.              article3        .'
        '.              picture3        .'
        '.              article4        .'
        'footer         footer          footer';
    }
}
